{% load static %}
<!-- jQuery -->
<script src=" {% static 'libs/jquery/jquery.min.js' %} "></script>

<!-- Bootstrap -->
<script src=" {% static 'landing/js/popper.js' %} "></script>
<script src=" {% static 'landing/js/bootstrap.min.js' %} "></script>

<!-- Plugins -->
<script src=" {% static 'landing/js/owl-carousel.js' %} "></script>
<script src=" {% static 'landing/js/scrollreveal.min.js' %} "></script>
<script src=" {% static 'landing/js/waypoints.min.js' %} "></script>
<script src=" {% static 'landing/js/jquery.counterup.min.js' %} "></script>
<script src=" {% static 'landing/js/imgfix.min.js' %} "></script>

<!-- Global Init -->
<script src=" {% static 'landing/js/custom.js' %} "></script>
